servico-renan\services\users-service\nodejs-frontend\public\styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

#app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.list-group-item {
  transition: transform 0.2s ease-in-out;
}

.list-group-item:hover {
  transform: scale(1.05);
}

.spinner-border {
  display: none;
  margin: 0 auto;
}

.navbar-brand i {
  margin-right: 10px;
}